src/test/resources/wsdls/GuestManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://sample.com/reservation/guest/types" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://sample.com/reservation/guest" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://exception.reservation.sample.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sample.com/reservation/guest">
    <wsdl:documentation>GuestManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.reservation.sample.com/xsd">
            <xs:complexType name="GuestManagementException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://exception.reservation.sample.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sample.com/reservation/guest/types">
            <xs:import namespace="http://exception.reservation.sample.com/xsd"/>
            <xs:element name="GuestManagementServiceGuestManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="GuestManagementException" nillable="true" type="ax21:GuestManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGuestDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGuestDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:Guest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Guest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="age" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addGuest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
                        <xs:element name="age" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addGuestResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteGuest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getGuestDetailsRequest">
        <wsdl:part name="parameters" element="ns:getGuestDetails"/>
    </wsdl:message>
    <wsdl:message name="getGuestDetailsResponse">
        <wsdl:part name="parameters" element="ns:getGuestDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="GuestManagementServiceGuestManagementException">
        <wsdl:part name="parameters" element="ns:GuestManagementServiceGuestManagementException"/>
    </wsdl:message>
    <wsdl:message name="deleteGuestRequest">
        <wsdl:part name="parameters" element="ns:deleteGuest"/>
    </wsdl:message>
    <wsdl:message name="addGuestRequest">
        <wsdl:part name="parameters" element="ns:addGuest"/>
    </wsdl:message>
    <wsdl:message name="addGuestResponse">
        <wsdl:part name="parameters" element="ns:addGuestResponse"/>
    </wsdl:message>
    <wsdl:portType name="GuestManagementServicePortType">
        <wsdl:operation name="getGuestDetails">
            <wsdl:input message="tns:getGuestDetailsRequest" wsaw:Action="urn:getGuestDetails"/>
            <wsdl:output message="tns:getGuestDetailsResponse" wsaw:Action="urn:getGuestDetailsResponse"/>
            <wsdl:fault message="tns:GuestManagementServiceGuestManagementException" name="GuestManagementServiceGuestManagementException" wsaw:Action="urn:getGuestDetailsGuestManagementServiceGuestManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteGuest">
            <wsdl:input message="tns:deleteGuestRequest" wsaw:Action="urn:deleteGuest"/>
            <wsdl:fault message="tns:GuestManagementServiceGuestManagementException" name="GuestManagementServiceGuestManagementException" wsaw:Action="urn:deleteGuestGuestManagementServiceGuestManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="addGuest">
            <wsdl:input message="tns:addGuestRequest" wsaw:Action="urn:addGuest"/>
            <wsdl:output message="tns:addGuestResponse" wsaw:Action="urn:addGuestResponse"/>
            <wsdl:fault message="tns:GuestManagementServiceGuestManagementException" name="GuestManagementServiceGuestManagementException" wsaw:Action="urn:addGuestGuestManagementServiceGuestManagementException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GuestManagementServiceSoap11Binding" type="tns:GuestManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getGuestDetails">
            <soap:operation soapAction="urn:getGuestDetails" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GuestManagementServiceGuestManagementException">
                <soap:fault use="literal" name="GuestManagementServiceGuestManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteGuest">
            <soap:operation soapAction="urn:deleteGuest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="GuestManagementServiceGuestManagementException">
                <soap:fault use="literal" name="GuestManagementServiceGuestManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addGuest">
            <soap:operation soapAction="urn:addGuest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GuestManagementServiceGuestManagementException">
                <soap:fault use="literal" name="GuestManagementServiceGuestManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GuestManagementServiceSoap12Binding" type="tns:GuestManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getGuestDetails">
            <soap12:operation soapAction="urn:getGuestDetails" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GuestManagementServiceGuestManagementException">
                <soap12:fault use="literal" name="GuestManagementServiceGuestManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteGuest">
            <soap12:operation soapAction="urn:deleteGuest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="GuestManagementServiceGuestManagementException">
                <soap12:fault use="literal" name="GuestManagementServiceGuestManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addGuest">
            <soap12:operation soapAction="urn:addGuest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GuestManagementServiceGuestManagementException">
                <soap12:fault use="literal" name="GuestManagementServiceGuestManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GuestManagementServiceHttpBinding" type="tns:GuestManagementServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getGuestDetails">
            <http:operation location="getGuestDetails"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteGuest">
            <http:operation location="deleteGuest"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addGuest">
            <http:operation location="addGuest"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GuestManagementService">
        <wsdl:port name="GuestManagementServiceHttpSoap11Endpoint" binding="tns:GuestManagementServiceSoap11Binding">
            <soap:address location="http://192.168.9.100:8080/axis2/services/GuestManagementService.GuestManagementServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GuestManagementServiceHttpSoap12Endpoint" binding="tns:GuestManagementServiceSoap12Binding">
            <soap12:address location="http://192.168.9.100:8080/axis2/services/GuestManagementService.GuestManagementServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GuestManagementServiceHttpEndpoint" binding="tns:GuestManagementServiceHttpBinding">
            <http:address location="http://192.168.9.100:8080/axis2/services/GuestManagementService.GuestManagementServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
