src/test/resources/wsdls/ReservationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://sample.com/reservation/res/types" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://exception.reservation.sample.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://sample.com/reservation/res" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sample.com/reservation/res">
    <wsdl:documentation>ReservationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax26="http://exception.reservation.sample.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sample.com/reservation/res/types">
            <xs:import namespace="http://exception.reservation.sample.com/xsd"/>
            <xs:element name="ReservationServiceReservationManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ReservationManagementException" nillable="true" type="ax25:ReservationManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addReservation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="roomNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="reserved_from" nillable="true" type="xs:date"/>
                        <xs:element minOccurs="0" name="reserved_to" nillable="true" type="xs:date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addReservationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReservationDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RoomNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReservationDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:Reservation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Reservation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reservationID" type="xs:int"/>
                    <xs:element minOccurs="0" name="reserved_from" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="reserved_to" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="roomNumber" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="removeReservation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="reservationID" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.reservation.sample.com/xsd">
            <xs:complexType name="ReservationManagementException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addReservationRequest">
        <wsdl:part name="parameters" element="ns:addReservation"/>
    </wsdl:message>
    <wsdl:message name="addReservationResponse">
        <wsdl:part name="parameters" element="ns:addReservationResponse"/>
    </wsdl:message>
    <wsdl:message name="ReservationServiceReservationManagementException">
        <wsdl:part name="parameters" element="ns:ReservationServiceReservationManagementException"/>
    </wsdl:message>
    <wsdl:message name="removeReservationRequest">
        <wsdl:part name="parameters" element="ns:removeReservation"/>
    </wsdl:message>
    <wsdl:message name="getReservationDetailsRequest">
        <wsdl:part name="parameters" element="ns:getReservationDetails"/>
    </wsdl:message>
    <wsdl:message name="getReservationDetailsResponse">
        <wsdl:part name="parameters" element="ns:getReservationDetailsResponse"/>
    </wsdl:message>
    <wsdl:portType name="ReservationServicePortType">
        <wsdl:operation name="addReservation">
            <wsdl:input message="tns:addReservationRequest" wsaw:Action="urn:addReservation"/>
            <wsdl:output message="tns:addReservationResponse" wsaw:Action="urn:addReservationResponse"/>
            <wsdl:fault message="tns:ReservationServiceReservationManagementException" name="ReservationServiceReservationManagementException" wsaw:Action="urn:addReservationReservationServiceReservationManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="removeReservation">
            <wsdl:input message="tns:removeReservationRequest" wsaw:Action="urn:removeReservation"/>
            <wsdl:fault message="tns:ReservationServiceReservationManagementException" name="ReservationServiceReservationManagementException" wsaw:Action="urn:removeReservationReservationServiceReservationManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="getReservationDetails">
            <wsdl:input message="tns:getReservationDetailsRequest" wsaw:Action="urn:getReservationDetails"/>
            <wsdl:output message="tns:getReservationDetailsResponse" wsaw:Action="urn:getReservationDetailsResponse"/>
            <wsdl:fault message="tns:ReservationServiceReservationManagementException" name="ReservationServiceReservationManagementException" wsaw:Action="urn:getReservationDetailsReservationServiceReservationManagementException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReservationServiceSoap11Binding" type="tns:ReservationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addReservation">
            <soap:operation soapAction="urn:addReservation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReservationServiceReservationManagementException">
                <soap:fault use="literal" name="ReservationServiceReservationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeReservation">
            <soap:operation soapAction="urn:removeReservation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="ReservationServiceReservationManagementException">
                <soap:fault use="literal" name="ReservationServiceReservationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getReservationDetails">
            <soap:operation soapAction="urn:getReservationDetails" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReservationServiceReservationManagementException">
                <soap:fault use="literal" name="ReservationServiceReservationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReservationServiceSoap12Binding" type="tns:ReservationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addReservation">
            <soap12:operation soapAction="urn:addReservation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReservationServiceReservationManagementException">
                <soap12:fault use="literal" name="ReservationServiceReservationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeReservation">
            <soap12:operation soapAction="urn:removeReservation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="ReservationServiceReservationManagementException">
                <soap12:fault use="literal" name="ReservationServiceReservationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getReservationDetails">
            <soap12:operation soapAction="urn:getReservationDetails" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReservationServiceReservationManagementException">
                <soap12:fault use="literal" name="ReservationServiceReservationManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReservationServiceHttpBinding" type="tns:ReservationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addReservation">
            <http:operation location="addReservation"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeReservation">
            <http:operation location="removeReservation"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getReservationDetails">
            <http:operation location="getReservationDetails"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReservationService">
        <wsdl:port name="ReservationServiceHttpSoap11Endpoint" binding="tns:ReservationServiceSoap11Binding">
            <soap:address location="http://192.168.9.100:8080/axis2/services/ReservationService.ReservationServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ReservationServiceHttpSoap12Endpoint" binding="tns:ReservationServiceSoap12Binding">
            <soap12:address location="http://192.168.9.100:8080/axis2/services/ReservationService.ReservationServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ReservationServiceHttpEndpoint" binding="tns:ReservationServiceHttpBinding">
            <http:address location="http://192.168.9.100:8080/axis2/services/ReservationService.ReservationServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
